<div class="container">
  <div class="circular-divs">
    <div class="outer-circle">
      <div class="middle-circle">
        <div class="inner-circle">
          <div
            class="category"
            style="--angle: 0"
            (click)="showInfoDetails('Product')"
          >
            <i class="fa-solid fa-house"></i>
            <!-- Icon for Product -->
            <!-- Product -->
          </div>
          <div
            class="category"
            style="--angle: 60deg"
            (click)="showInfoDetails('Service')"
          >
            <i class="fas fa-cogs"></i>
            <!-- Icon for Service -->
            <!-- Service -->
          </div>
          <div
            class="category"
            style="--angle: 120deg"
            (click)="showInfoDetails('Contact')"
          >
            <i class="fas fa-phone"></i>
            <!-- Icon for Contact -->
            <!-- Contact -->
          </div>
          <div
            class="category"
            style="--angle: 180deg"
            (click)="showInfoDetails('Category 4')"
          >
            <i class="fas fa-folder"></i>
            <!-- Icon for Category 4 -->
            <!-- Category 4 -->
          </div>
          <div
            class="category"
            style="--angle: 240deg"
            (click)="showInfoDetails('Category 5')"
          >
            <i class="fas fa-star"></i>
            <!-- Icon for Category 5 -->
            <!-- Category 5 -->
          </div>
          <div
            class="category"
            style="--angle: 300deg"
            (click)="showInfoDetails('Category 6')"
          >
            <i class="fas fa-users"></i>
            <!-- Icon for Category 6 -->
            <!-- Category 6 -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info-panel" *ngIf="showInfo">
    <div>
      <h4>{{ infoHeading }}</h4>
    </div>
    <div>
      <p>{{ infoDetails }}</p>
    </div>
    <img [src]="infoImage" alt="Info Image" />
  </div>
</div>
